@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: ;
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.9920 0.0182 127.1313);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.8576 0.1693 134.3040);
  --primary-foreground: oklch(0.3329 0 0);
  --secondary: oklch(0.2500 0.0343 179.4081);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9920 0.0182 127.1313);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9473 0.0230 179.9444);
  --accent-foreground: oklch(0.2138 0.0019 286.2347);
  --destructive: oklch(0.9206 0.0338 6.3881);
  --destructive-foreground: oklch(0.5082 0.1890 19.1631);
  --border: oklch(0.9030 0.0604 82.5173);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.9030 0.0604 82.5173);
  --chart-1: oklch(0.7704 0.1211 216.5711);
  --chart-2: oklch(0.7589 0.1577 71.2383);
  --chart-3: oklch(0.5227 0.1907 279.6005);
  --chart-4: oklch(0.9011 0.0909 79.1775);
  --chart-5: oklch(0.9259 0.0611 212.9827);
  --sidebar: oklch(0.2500 0.0343 179.4081);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.9761 0.0220 80.6894);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9368 0.0234 82.1201);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
  --font-sans: Poppins, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1.55rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.2138 0.0019 286.2347);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.3047 0.0102 17.7267);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.8468 0.1365 76.5327);
  --primary-foreground: oklch(0.2138 0.0019 286.2347);
  --secondary: oklch(0.9473 0.0230 179.9444);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9368 0.0234 82.1201);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.9761 0.0220 80.6894);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.7036 0.1881 22.1462);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.4748 0 0);
  --input: oklch(0.3250 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.8093 0.0985 252.2024);
  --chart-2: oklch(0.6207 0.1894 259.9358);
  --chart-3: oklch(0.7589 0.1577 71.2383);
  --chart-4: oklch(0.4893 0.2202 264.0405);
  --chart-5: oklch(0.9259 0.0611 212.9827);
  --sidebar: oklch(0.3523 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.1149 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: Poppins, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1.55rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
 /* Typography utilities */
  .h1-bold {
    font-size:      30px;
    font-weight:    700;
    line-height:    42px;
    letter-spacing: -0.025em;
  }

  .h2-bold {
    font-size:   24px;
    font-weight: 700;
    line-height: 31.2px;
  }

  .h2-semibold {
    font-size:   24px;
    font-weight: 600;
    line-height: 31.2px;
  }

  .h3-bold {
    font-size:   20px;
    font-weight: 700;
    line-height: 26px;
  }

  .h3-semibold {
    font-size:   20px;
    font-weight: 600;
    line-height: 24.8px;
  }

  .base-medium {
    font-size:   18px;
    font-weight: 500;
    line-height: 25.2px;
  }

  .base-semibold {
    font-size:   18px;
    font-weight: 600;
    line-height: 25.2px;
  }

  .base-bold {
    font-size:   18px;
    font-weight: 700;
    line-height: 140%;
  }

  .paragraph-regular {
    font-size:   16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .paragraph-medium {
    font-size:   16px;
    font-weight: 500;
    line-height: 22.4px;
  }

  .paragraph-semibold {
    font-size:   16px;
    font-weight: 600;
    line-height: 20.8px;
  }

  .body-regular {
    font-size:   14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  .body-medium {
    font-size:   14px;
    font-weight: 500;
    line-height: 18.2px;
  }

  .body-semibold {
    font-size:   14px;
    font-weight: 600;
    line-height: 18.2px;
  }

  .body-bold {
    font-size:   14px;
    font-weight: 700;
    line-height: 18.2px;
  }

  .small-regular {
    font-size:   12px;
    font-weight: 400;
    line-height: 15.6px;
  }

  .small-medium {
    font-size:   12px;
    font-weight: 500;
    line-height: 15.6px;
  }

  .small-semibold {
    font-size:   12px;
    font-weight: 600;
    line-height: 15.6px;
  }

  .subtle-medium {
    font-size:   10px;
    font-weight: 500;
    line-height: 13px !important;
  }

  .subtle-regular {
    font-size:   10px;
    font-weight: 400;
    line-height: 13px;
  }

/*  Layout utilities*/
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
